body {
    background-color: #000000;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.sidebar {
    width: 250px;
    height: 100vh;
    /* 滿版高度（vh = viewport height） */
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-link {
    color: #fff;
    font-weight: 500;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    transition: all 0.1s ease;
    border-radius: 6px;
}

.nav-link i {
    font-size: 1.2rem;
    margin-right: 12px;
    opacity: 0.7;
    transition: all 0.1s ease;
}

.nav-link:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.03);
}

.nav-link:hover i {
    color: #000;
    opacity: 1;
    transform: scale(1.2);
}

/* === 當前選取項（active）可用不同樣式 === */
.nav-link.active {
    background-color: #fff;
    color: #000;
    font-weight: 600;
}

.nav-link.active i {
    color: #000;
}


.bottom-section {
    border-top: 1px solid #ffffff;
    color: #fff;
    padding: 16px;
}

/* 黑色斜紋背景 */
.btn-reserve {
    background: repeating-linear-gradient(45deg,
            #fff,
            #fff 10px,
            #ddd 10px,
            #ddd 20px);
    color: #000;
    font-weight: 600;
    width: 100%;
    border: none;
}

.social-icons a {
    color: #ffffff;
    margin: 0 8px;
    font-size: 1.2rem;
}

.btn-user-creator {
    display: block;
    color: #fff;
    text-decoration: none;
    border-color: #fff !important;
    transition: all 0.1s ease;
}

.btn-user-creator:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.03);
}

.btn-user-creator:hover i {
    color: #000;
}

.main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.main-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.text-section h2 {
    text-align: center;
    margin-bottom: 25px;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.text-section p {
    text-align: center;
    border: 3px solid #fff;
    border-radius: 0;
    padding: 60px;
    margin-bottom: 20px;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
}

.text-section.active-content {
    display: block;
}

.image-section {
    margin: 40px auto 0;
    height: calc(80vh - 40px);
    width: 80%;
    display: flex;
    box-sizing: border-box;
}

.text-section {
    height: 100vh;
    width: 100%;
    padding: 50px;
    background-color: #000;

    color: #fff;
    box-sizing: border-box;
    font-size: 40px;
    display: none;

}

.main-footer {
    height: 50px;
    background-color: #ddd;
    color: #000;
    margin-left: 250px;
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'VT323', monospace;
}


.main-footer p {
    margin: 0;
}